Repository skr1ms/CTFBoard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, lint:backend, security:code, security:container, test:backend

Path conditions:
  build:backend: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  lint:backend: any of: backend/**/*, go.mod, go.sum
  security:code: any of: backend/**/*, go.mod, go.sum
  security:container: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  test:backend: any of: backend/**/*, go.mod, go.sum

chore: update golangci-lint action and image versions in CI/CD configurations.
  .github/workflows/lint.yml
  .gitlab-ci.yml
Due: none

feat: Update Go version to 1.25.5 (rollback), upgrade golangci-lint action and version, and remove `disable-all` from linter configuration.
  .github/workflows/lint.yml
  backend/.golangci.yml
  backend/go.mod
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: Explicitly ignore `db.Close()` errors in Go tests and remove the Docker GC CI stage.
  .gitlab-ci.yml
  backend/internal/usecase/challenge_test.go
  backend/internal/usecase/hint_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Migrate email sending from SMTP to Resend API and integrate logger into the async mailer.
  .env.example
  .gitlab-ci.yml
  backend/cmd/app/main.go
  backend/config/config.go
  backend/go.mod
  backend/go.sum
  backend/internal/app/app.go
  backend/pkg/mailer/async.go
  backend/pkg/mailer/async_test.go
  backend/pkg/mailer/mailer.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

chore: enable RESEND_ENABLED by default in .env.example
  .env.example
Due: none

feat: default enable Resend email and adjust forgot password rate limit to 10 requests per day.
  backend/config/config.go
  backend/internal/controller/restapi/v1/email.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

test: Increase forgot password test iterations from 3 to 10.
  backend/e2e-test/auth_flow_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Add `FromEmail` and `FromName` to Resend configuration, loaded from Vault, and improve `.env` file loading logging.
  backend/config/config.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: Unnest FromEmail and FromName configuration fields.
  backend/config/config.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: Improve `.env` file loading by checking multiple paths and simplify Resend email configuration.
  backend/config/config.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: Prioritize environment variables for config loading, allowing Vault to override sensitive secrets, and update docker-compose files with new variable definitions.
  backend/config/config.go
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Enable explicit .env file loading for backend service in Docker Compose and streamline backend config initialization.
  backend/config/config.go
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
Due: build:backend, lint:backend, security:code, security:container, test:backend

ci: Add `install-mode: goinstall` to the Go setup action in the lint workflow.
  .github/workflows/lint.yml
Due: none

docs: Update documentation for project structure, deployment, monitoring, and README.
  README.md
  docs/DEPLOYMENT.md
  docs/MONITORING.md
  docs/STRUCTURE.md
Due: none

feat: Improve storage provider security and robustness by refactoring filesystem provider with os.OpenRoot and adding S3 credential validation.
  backend/internal/app/app.go
  backend/internal/entity/verification_token.go
  backend/internal/storage/filesystem.go
  backend/internal/storage/s3.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

chore: Update gosec nolint directive comment format.
  backend/internal/entity/verification_token.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

ci: Increase golangci-lint timeout to 10 minutes in configuration and CI pipeline.
  .gitlab-ci.yml
  backend/.golangci.yml
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix: Correctly escape variables within the SSH here-document to ensure remote shell expansion.
  .gitlab-ci.yml
Due: none

feat: Implement team soft deletion with audit logs, add cleanup cron job, and introduce race condition tests for solves, hints, and teams.
  .gitlab-ci.yml
  backend/.dockerignore
  backend/cmd/cleanup/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/e2e-test/helper_test.go
  backend/e2e-test/setup_test.go
  backend/e2e-test/team_workflow_test.go
  backend/integration-test/helper_test.go
  backend/integration-test/hint_race_test.go
  backend/integration-test/solve_race_test.go
  backend/integration-test/team_race_test.go
  backend/integration-test/tx_repo_test.go
  backend/internal/app/app.go
  backend/internal/controller/restapi/v1/request/team.go
  backend/internal/controller/restapi/v1/team.go
  backend/internal/controller/restapi/v1/user.go
  backend/internal/entity/error/team_error.go
  backend/internal/entity/team_audit_log.go
  backend/internal/repo/contract.go
  backend/internal/repo/persistent/team_postgres.go
  backend/internal/repo/persistent/tx_postgres.go
  backend/internal/storage/filesystem_test.go
  backend/internal/storage/s3_test.go
  backend/internal/usecase/cleanup.go
  backend/internal/usecase/mocks/TeamRepository.go
  backend/internal/usecase/mocks/TxRepository.go
  backend/internal/usecase/team.go
  backend/internal/usecase/team_test.go
  backend/migrations/000009_team_audit_soft_delete.down.sql
  backend/migrations/000009_team_audit_soft_delete.up.sql
  backend/migrations/000010_add_audit_fks.down.sql
  backend/migrations/000010_add_audit_fks.up.sql
  backend/schema/postgres.sql
  deployment/cron-jobs/cleanup-cron
  deployment/scripts/deploy_cron.sh
Due: build:backend, lint:backend, security:code, security:container, test:backend

ci: Add build:cleanup job to GitLab CI for backend cleanup utility.
  .gitlab-ci.yml
Due: none

ci: Enhance cleanup cron deployment with sudo, explicit CI needs, and updated default database credentials.
  .gitlab-ci.yml
  deployment/cron-jobs/cleanup-cron
Due: none

build: include docs directory in Docker build context by removing it from .dockerignore
  backend/.dockerignore
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Enhance cleanup process by integrating Vault for secure database credentials and updating cron job to load environment variables
  backend/cmd/cleanup/main.go
  deployment/cron-jobs/cleanup-cron
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Update Dockerfile to build cleanup binary and adjust cron job for cleanup execution
  backend/Dockerfile
  deployment/cron-jobs/cleanup-cron
Due: build:backend, lint:backend, security:code, security:container, test:backend

feat: Add Grafana dashboards for SeaweedFS, System Overview, and Vault Health
  .env.local.example
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  monitoring/grafana/dashboards/Application/Cache/redis-overview.json
  monitoring/grafana/dashboards/Infrastructure/containers-overview.json
  monitoring/grafana/dashboards/Infrastructure/databases.json
  monitoring/grafana/dashboards/Monitoring/prometheus-loki.json
  monitoring/grafana/dashboards/System/system-overview.json
  monitoring/grafana/dashboards/backend/backend-logs.json
  monitoring/grafana/dashboards/backend/backend-metrics.json
  monitoring/grafana/dashboards/postgres/postgresql-details.json
  monitoring/grafana/dashboards/redis/redis-overview.json
  monitoring/grafana/dashboards/seaweedfs/seaweedfs.json
  monitoring/grafana/dashboards/system-overview.json
  monitoring/grafana/dashboards/vault/vault-health.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/prometheus/prometheus.yml
  monitoring/promtail/promtail-config.yml
Due: build:backend, security:container

feat: Remove metrics port mapping for SeaweedFS in docker-compose
  deployment/docker/docker-compose.yml
Due: build:backend, security:container

feat: Update S3 credentials comment and enhance error log query for backend dashboard
  deployment/seaweedfs/s3.json
  monitoring/grafana/dashboards/backend/backend-logs.json
Due: none

feat: Improve Vault Health dashboard layout and update Prometheus queries
  monitoring/grafana/dashboards/vault/vault-health.json
Due: none

refactor: optimize scoring calculation by replacing `math.Pow` with direct multiplication and add `nolint:staticcheck` directives.
  backend/internal/app/app.go
  backend/internal/usecase/scoring.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: update AES key handling to use 64-character hex-encoded keys and standardize other secret lengths.
  .env.local.example
  backend/e2e-test/setup_test.go
  backend/pkg/crypto/aes.go
  backend/pkg/crypto/aes_test.go
  deployment/docker/init-vault.sh
Due: build:backend, lint:backend, security:code, security:container, test:backend

docs(swagger): regenerate docs
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Due: build:backend, lint:backend, security:code, security:container, test:backend

docs(swagger): regenerate swagger docs with new swagger tags in statistics
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/controller/restapi/v1/statistics.go
  backend/internal/usecase/statistics.go
  backend/internal/usecase/statistics_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: delete broken dirs in restapi and update go.mod
  backend/go.mod
  backend/go.sum
  backend/internal/controller/restapi/v1/internal/usecase/mocks/AuditLogRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/AwardRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/ChallengeRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/CompetitionRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/CryptoService.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/FileRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/HintRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/HintUnlockRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/JWTService.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/Logger.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/Mailer.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/PgxTx.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/RedisClient.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/S3Provider.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/SolveRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/StatisticsRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/TeamRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/TxRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/UserRepository.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/Validator.go
  backend/internal/controller/restapi/v1/internal/usecase/mocks/VerificationTokenRepository.go
  backend/internal/controller/restapi/v1/pkg/websocket/mocks/Conn.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

docs: add PR template and CONTRIBUTING guide
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  IMPLEMENTATION_PLAN_TEAM_REFACTOR.md
  README.md
Due: none
