Repository skr1ms/CTFBoard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

build:backend:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  stage: build
  image: $DOCKER_CLI_IMAGE
  script:
  - docker pull "$CI_REGISTRY_IMAGE/backend:latest" || true
  ...

build:cleanup:
  stage: build
  image: $GOLANG_IMAGE
  script:
  - cd backend
  - GOOS=linux GOARCH=amd64 go build -o bin/ctfboard-cleanup ./cmd/cleanup
  artifacts:
    paths:
    - backend/bin/ctfboard-cleanup
    expire_in: 1 hour

lint:backend:
  stage: security
  image: $GOLANGCI_LINT_IMAGE
  variables:
    CGO_ENABLED: '0'
  script:
  - cd backend
  - go mod download
  - golangci-lint run -v --timeout 10m

security:code:
  stage: security
  image:
    name: $GOSEC_IMAGE
    entrypoint:
    - ''
  script:
  - cd backend
  - go mod download
  - gosec ./...

security:container:
  stage: security
  image:
    name: $TRIVY_IMAGE
    entrypoint:
    - ''
  variables:
    TRIVY_USERNAME: $CI_REGISTRY_USER
    TRIVY_PASSWORD: $CI_REGISTRY_PASSWORD
    TRIVY_AUTH_URL: $CI_REGISTRY
  script:
  - trivy image --exit-code 0 --severity HIGH,CRITICAL "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHA"

test:backend:
  stage: test
  image: $GOLANG_IMAGE
  services:
  - name: $POSTGRES_IMAGE
    alias: postgres-test
    variables:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
  - name: $REDIS_IMAGE
    alias: redis-test
    variables:
      REDIS_PASSWORD: $REDIS_PASSWORD
  ...

deploy:cron:
  stage: deploy
  image: $ALPINE_IMAGE
  needs:
  - job: build:cleanup
    artifacts: true
  before_script:
  - apk add --no-cache openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  ...

test(backend): expand lifecycle regression coverage
  backend/e2e-test/app_bootstrap_test.go
  backend/e2e-test/db_reset_test.go
  backend/e2e-test/journey_appeal_test.go
  backend/e2e-test/journey_backup_import_test.go
  backend/e2e-test/journey_competition_test.go
  backend/e2e-test/journey_fixture_test.go
  backend/e2e-test/journey_player_test.go
  backend/e2e-test/lifecycle_auth_test.go
  backend/e2e-test/lifecycle_comments_test.go
  backend/e2e-test/lifecycle_fixture_test.go
  backend/e2e-test/lifecycle_notifications_test.go
  backend/e2e-test/lifecycle_requirements_test.go
  backend/e2e-test/lifecycle_solo_registration_test.go
  backend/e2e-test/lifecycle_storage_test.go
  backend/e2e-test/lifecycle_user_stats_visibility_test.go
  backend/e2e-test/router_test.go
  backend/e2e-test/setup_fixture_test.go
  backend/e2e-test/setup_production_router_test.go
  backend/integration-test/api_token_repo_test.go
  backend/integration-test/backup_repo_erase_test.go
  backend/integration-test/backup_repo_import_test.go
  backend/integration-test/ban_appeal_repo_test.go
  backend/integration-test/challenge_repo_requirements_test.go
  backend/integration-test/fixture_content_test.go
  backend/integration-test/settings_repo_test.go
  backend/integration-test/setup_test.go
  backend/integration-test/solution_repo_test.go
  backend/integration-test/solve_repo_scoreboard_test.go
  backend/integration-test/user_repo_test.go
  backend/load-test/mixed_test.go
  backend/load-test/race_team_test.go
  backend/load-test/report_test.go
  backend/load-test/server_deps_test.go
  backend/load-test/server_router_test.go
  backend/load-test/server_test.go
  backend/load-test/server_usecases_test.go
  backend/load-test/setup_test.go
  backend/load-test/soak_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

docs: refresh deployment and backup notes
  docs/ARCHITECTURE.md
  docs/BACKUP_ARCHIVE.md
  docs/DEPLOYMENT.md
Due: none

feat(backup): include pages in archive lifecycle
  backend/e2e-test/app_bootstrap_test.go
  backend/integration-test/backup_repo_erase_test.go
  backend/integration-test/backup_repo_import_test.go
  backend/internal/domain/backup.go
  backend/internal/openapi/components/schemas/backup_schemas.yml
  backend/internal/repo/contract_admin.go
  backend/internal/repo/persistent/backup_postgres.go
  backend/internal/repo/persistent/backup_postgres_import.go
  backend/internal/repo/persistent/page_postgres.go
  backend/internal/usecase/backup/backup.go
  backend/internal/usecase/backup/backup_export.go
  backend/internal/usecase/backup/backup_export_tasks.go
  backend/internal/usecase/backup/backup_import_tx.go
  backend/internal/usecase/backup/backup_import_zip_test.go
  backend/internal/usecase/backup/backup_reset_test.go
  backend/internal/usecase/backup/mock/BackupRepository.go
  backend/internal/wire/providers_usecase_media.go
  backend/internal/wire/sets.go
  backend/internal/wire/wire_gen.go
  backend/load-test/server_usecases_test.go
  docs/BACKUP_ARCHIVE.md
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

feat(storage): harden admin storage operations
  backend/e2e-test/lifecycle_storage_test.go
  backend/internal/controller/restapi/v1/request/risk_test.go
  backend/internal/controller/restapi/v1/request/storage.go
  backend/internal/controller/restapi/v1/storage.go
  backend/internal/openapi/routes/storage.yml
  backend/internal/storage/contract.go
  backend/internal/storage/filesystem.go
  backend/internal/storage/filesystem_test.go
  backend/internal/storage/s3.go
  backend/internal/storage/s3_test.go
  backend/internal/usecase/cleanup/cleanup.go
  backend/internal/usecase/cleanup/cleanup_test.go
  backend/internal/usecase/contract_challenge.go
  backend/internal/usecase/storageadmin/storageadmin.go
  backend/internal/usecase/storageadmin/storageadmin_test.go
  backend/pkg/storagepath/path.go
  backend/pkg/storagepath/path_test.go
  deployment/docker/docker-compose.yml
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

feat(api): sync backup and storage contracts
  backend/internal/openapi/client.gen.go
  backend/internal/openapi/server.gen.go
  backend/internal/openapi/spec.gen.go
  backend/internal/openapi/types.gen.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(competition): repair moderation scoring invalidation
  backend/internal/domain/solve.go
  backend/internal/repo/contract_competition.go
  backend/internal/repo/persistent/solve_postgres.go
  backend/internal/repo/persistent/sqlc/solves.sql.go
  backend/internal/repo/persistent/sqlc/statistics.sql.go
  backend/internal/usecase/cacheutil/invalidator.go
  backend/internal/usecase/cacheutil/ports.go
  backend/internal/usecase/challenge/mock/SolveRepository.go
  backend/internal/usecase/competition/mock/SolveRepository.go
  backend/internal/usecase/team/award.go
  backend/internal/usecase/team/helpers.go
  backend/internal/usecase/team/mock/SolveRepository.go
  backend/internal/usecase/team/team.go
  backend/internal/usecase/team/team_admin.go
  backend/internal/usecase/team/team_admin_test.go
  backend/internal/usecase/team/team_ban.go
  backend/internal/usecase/team/team_ban_visibility_test.go
  backend/internal/usecase/team/team_bulk.go
  backend/internal/usecase/team/team_cleanup.go
  backend/internal/usecase/team/team_create.go
  backend/internal/usecase/team/team_create_test.go
  backend/internal/usecase/team/team_disband.go
  backend/internal/usecase/team/team_disband_kick_test.go
  backend/internal/usecase/team/team_join_leave_test.go
  backend/internal/usecase/team/team_solo.go
  backend/internal/usecase/team/team_unban.go
  backend/internal/usecase/team/team_visibility.go
  backend/internal/usecase/user/mock/SolveRepository.go
  backend/internal/usecase/user/user.go
  backend/internal/usecase/user/user_admin.go
  backend/internal/usecase/user/user_ban.go
  backend/internal/usecase/user/user_ban_test.go
  backend/internal/usecase/user/user_register.go
  backend/internal/wire/providers_usecase_team.go
  backend/internal/wire/providers_usecase_user.go
  backend/internal/wire/wire_gen.go
  backend/queries/solves.sql
  backend/queries/statistics.sql
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(auth): require local password for profile changes
  backend/internal/apperr/user.go
  backend/internal/controller/restapi/errmap/errmap.go
  backend/internal/usecase/user/user_profile.go
  backend/internal/usecase/user/user_profile_test.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

chore(setup): reuse vault backend token
  .env.example
  .env.local
  setup.sh
Due: none

chore(deploy): stop tracking generated secret files
  .gitignore
  deployment/scripts/check-production-hygiene.sh
  deployment/scripts/deploy_cron.sh
  monitoring/alertmanager/alertmanager.yml
Due: none

Path conditions:
  build:backend: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  build:cleanup: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
  lint:backend: any of: backend/**/*, go.mod, go.sum
  security:code: any of: backend/**/*, go.mod, go.sum
  security:container: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  test:backend: any of: backend/**/*, go.mod, go.sum
  deploy:cron: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
