Repository skr1ms/CTFBoard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

Path conditions:
  build:backend: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  build:cleanup: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
  lint:backend: any of: backend/**/*, go.mod, go.sum
  security:code: any of: backend/**/*, go.mod, go.sum
  security:container: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  test:backend: any of: backend/**/*, go.mod, go.sum
  deploy:cron: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml

build(ci): normalize generated code with pinned tools and fix revive unhandled-error
  backend/.golangci.yml
  backend/Makefile
  backend/internal/openapi/client.gen.go
  backend/internal/openapi/server.gen.go
  backend/internal/openapi/spec.gen.go
  backend/internal/openapi/types.gen.go
  backend/internal/repo/persistent/sqlc/api_tokens.sql.go
  backend/internal/repo/persistent/sqlc/audit_logs.sql.go
  backend/internal/repo/persistent/sqlc/awards.sql.go
  backend/internal/repo/persistent/sqlc/ban_appeals.sql.go
  backend/internal/repo/persistent/sqlc/brackets.sql.go
  backend/internal/repo/persistent/sqlc/challenge_opens.sql.go
  backend/internal/repo/persistent/sqlc/challenges.sql.go
  backend/internal/repo/persistent/sqlc/comments.sql.go
  backend/internal/repo/persistent/sqlc/competition.sql.go
  backend/internal/repo/persistent/sqlc/competition_params.sql.go
  backend/internal/repo/persistent/sqlc/db.go
  backend/internal/repo/persistent/sqlc/fields.sql.go
  backend/internal/repo/persistent/sqlc/files.sql.go
  backend/internal/repo/persistent/sqlc/hint_unlocks.sql.go
  backend/internal/repo/persistent/sqlc/hints.sql.go
  backend/internal/repo/persistent/sqlc/models.go
  backend/internal/repo/persistent/sqlc/notifications.sql.go
  backend/internal/repo/persistent/sqlc/oauth_accounts.sql.go
  backend/internal/repo/persistent/sqlc/pages.sql.go
  backend/internal/repo/persistent/sqlc/ratings.sql.go
  backend/internal/repo/persistent/sqlc/settings.sql.go
  backend/internal/repo/persistent/sqlc/solutions.sql.go
  backend/internal/repo/persistent/sqlc/solves.sql.go
  backend/internal/repo/persistent/sqlc/statistics.sql.go
  backend/internal/repo/persistent/sqlc/submissions.sql.go
  backend/internal/repo/persistent/sqlc/tags.sql.go
  backend/internal/repo/persistent/sqlc/team_audit_log.sql.go
  backend/internal/repo/persistent/sqlc/teams.sql.go
  backend/internal/repo/persistent/sqlc/tracking.sql.go
  backend/internal/repo/persistent/sqlc/users.sql.go
  backend/internal/repo/persistent/sqlc/verification_tokens.sql.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

docs(readme): document setup.sh commands and improve deployment logging
  README.md
  README.ru.md
  setup.sh
Due: none

fix(setup): wait for Vault seal-status before initialization
  setup.sh
Due: none

fix(acme): use process-level healthcheck for empty webroot startup
  README.md
  README.ru.md
  deployment/docker/docker-compose.yml
  deployment/haproxy/haproxy.cfg
Due: build:backend, security:container

fix(deploy): default postgres credentials consistently during Vault seedin
  .env.example
  deployment/docker/docker-compose.yml
  deployment/docker/init-vault.sh
Due: build:backend, security:container

chore(deps): bump Go 1.25 -> 1.26
  .github/workflows/ci.yml
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(vault): enforce SSH-only UI access and simplify setup flow
  .env.example
  README.md
  README.ru.md
  deployment/docker/docker-compose.yml
  docs/en/DEPLOYMENT.md
  docs/ru/DEPLOYMENT.md
  setup.sh
Due: build:backend, security:container

ci: restructure workflow into preflight, checks, tests, and package stages
  .github/workflows/ci.yml
Due: none

docs: restore docs
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/ENVIRONMENT.md
  docs/MONITORING.md
  docs/WORKFLOW.md
Due: none

fix(e2e): use app_settings in writeups helper
  backend/e2e-test/helper/repo_helper.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

improve(setup): clarify wizard defaults, credentials, and prefilled env flow
  README.md
  README.ru.md
  setup.sh
Due: none

fix(vault): disable mlock for containerized deployment
  deployment/vault/config/vault.hcl
Due: none

fix(setup): reuse header banner in management menu
  setup.sh
Due: none

fix(frontend): restore nginx healthchecks and relax seaweedfs-ui sandboxing
  deployment/docker/docker-compose.yml
  frontend/board/Dockerfile
Due: build:backend, security:container

fix(tests): stabilize ban appeal pagination ordering
  backend/integration-test/ban_appeal_repo_test.go
  backend/internal/repo/persistent/sqlc/api_tokens.sql.go
  backend/internal/repo/persistent/sqlc/audit_logs.sql.go
  backend/internal/repo/persistent/sqlc/awards.sql.go
  backend/internal/repo/persistent/sqlc/ban_appeals.sql.go
  backend/internal/repo/persistent/sqlc/brackets.sql.go
  backend/internal/repo/persistent/sqlc/challenge_opens.sql.go
  backend/internal/repo/persistent/sqlc/challenges.sql.go
  backend/internal/repo/persistent/sqlc/comments.sql.go
  backend/internal/repo/persistent/sqlc/competition.sql.go
  backend/internal/repo/persistent/sqlc/competition_params.sql.go
  backend/internal/repo/persistent/sqlc/db.go
  backend/internal/repo/persistent/sqlc/fields.sql.go
  backend/internal/repo/persistent/sqlc/files.sql.go
  backend/internal/repo/persistent/sqlc/hint_unlocks.sql.go
  backend/internal/repo/persistent/sqlc/hints.sql.go
  backend/internal/repo/persistent/sqlc/models.go
  backend/internal/repo/persistent/sqlc/notifications.sql.go
  backend/internal/repo/persistent/sqlc/oauth_accounts.sql.go
  backend/internal/repo/persistent/sqlc/pages.sql.go
  backend/internal/repo/persistent/sqlc/ratings.sql.go
  backend/internal/repo/persistent/sqlc/settings.sql.go
  backend/internal/repo/persistent/sqlc/solutions.sql.go
  backend/internal/repo/persistent/sqlc/solves.sql.go
  backend/internal/repo/persistent/sqlc/statistics.sql.go
  backend/internal/repo/persistent/sqlc/submissions.sql.go
  backend/internal/repo/persistent/sqlc/tags.sql.go
  backend/internal/repo/persistent/sqlc/team_audit_log.sql.go
  backend/internal/repo/persistent/sqlc/teams.sql.go
  backend/internal/repo/persistent/sqlc/tracking.sql.go
  backend/internal/repo/persistent/sqlc/users.sql.go
  backend/internal/repo/persistent/sqlc/verification_tokens.sql.go
  backend/queries/ban_appeals.sql
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(postgres): pin Postgres 18 and use the new data directory mount, i did this in local compose, but forgot to change in prod
  deployment/docker/docker-compose.e2e.yml
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  docs/en/ARCHITECTURE.md
  docs/ru/ARCHITECTURE.md
Due: build:backend, security:container

fix(setup): recognize Let's Encrypt staging certificates in TLS status
  .env.example
  setup.sh
Due: none

fix(setup): sync SeaweedFS S3 credentials with env and silence repeated Vault mount errors
  deployment/docker/init-vault.sh
  setup.sh
Due: build:backend, security:container

fix(setup): normalize terminal output and cleanup messaging
  setup.sh
Due: none

fix(ci): setup-go cache path
  .github/workflows/ci.yml
Due: none

fix(acme): stop writing to read-only certbot webroot
  deployment/docker/docker-compose.yml
Due: build:backend, security:container

fix(auth): register oauth exchange endpoint in manual router
  backend/internal/controller/restapi/v1/router.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(auth): sync oauth and resend settings from env on fresh deploy
  backend/internal/app/app.go
  backend/internal/controller/restapi/v1/oauth.go
  docs/en/DEPLOYMENT.md
  docs/ru/DEPLOYMENT.md
  setup.sh
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(haproxy): lower maxconn and fix cache-store acl warnings
  deployment/haproxy/entrypoint.sh
  deployment/haproxy/haproxy.cfg
Due: none

fix(setup): use explicit VAULT_ADDR for containerized vault checks
  setup.sh
Due: none

feat(cache): add safe edge caching for readonly statistics endpoints
  .env.example
  backend/internal/controller/restapi/v1/backup.go
  backend/internal/controller/restapi/v1/settings.go
  backend/internal/controller/restapi/v1/statistics.go
  deployment/docker/docker-compose.yml
  deployment/haproxy/entrypoint.sh
  deployment/haproxy/haproxy.cfg
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(deploy): relax service sandboxing and regenerate alertmanager config
  deployment/docker/docker-compose.yml
  setup.sh
Due: build:backend, security:container

fix(haproxy): handle empty trusted CDN CIDR maps in entrypoint
  deployment/haproxy/entrypoint.sh
Due: none

fix(ci): fix gitleaks syntax, revert sqlc to v1.28.0, replace nancy with govulnchec
  .gitguardian.yaml
  .github/workflows/ci.yml
  .gitleaks.toml
  backend/Makefile
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix(ci): align pinned sqlc version with generated code, oh i again forgot change version in make (
  backend/Makefile
Due: build:backend, lint:backend, security:code, security:container, test:backend

improve(setup): surface TLS status and harden HAProxy startup checks
  deployment/docker/docker-compose.yml
  deployment/haproxy/Dockerfile
  setup.sh
Due: build:backend, security:container

fix(deploy): skip Vault setcap in production docker-compose.yml
  deployment/docker/docker-compose.yml
Due: build:backend, security:container
