Repository skr1ms/CTFBoard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

Path conditions:
  build:backend: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  build:cleanup: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
  lint:backend: any of: backend/**/*, go.mod, go.sum
  security:code: any of: backend/**/*, go.mod, go.sum
  security:container: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  test:backend: any of: backend/**/*, go.mod, go.sum
  deploy:cron: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml

refactor: update mock generation in Makefile and improve async mailer tests
  backend/.mockery/.mockery_pkg.yml
  backend/Makefile
  backend/pkg/mailer/async_test.go
  backend/pkg/mailer/mocks/Mailer.go
  backend/pkg/websocket/mocks/Conn.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix: ensure type assertion for websocket messages is safe
  backend/e2e-test/websocket_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor: simplify broadcast logic in websocket hub
  backend/pkg/websocket/hub.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

chore: update CI configuration and Makefile for tool installation
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

refactor: improve resource cleanup and add zip size conversion utility
  backend/internal/openapi/types.gen.go
  backend/internal/usecase/competition/backup.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

refactor: centralize REST API helper functions into a new `helper` subpackage.
  backend/e2e-test/setup_test.go
  backend/internal/controller/restapi/v1/api_token.go
  backend/internal/controller/restapi/v1/award.go
  backend/internal/controller/restapi/v1/backup.go
  backend/internal/controller/restapi/v1/bracket.go
  backend/internal/controller/restapi/v1/challenge.go
  backend/internal/controller/restapi/v1/comment.go
  backend/internal/controller/restapi/v1/competition.go
  backend/internal/controller/restapi/v1/email.go
  backend/internal/controller/restapi/v1/field.go
  backend/internal/controller/restapi/v1/file.go
  backend/internal/controller/restapi/v1/helper/decode.go
  backend/internal/controller/restapi/v1/helper/deps.go
  backend/internal/controller/restapi/v1/helper/error.go
  backend/internal/controller/restapi/v1/helper/helper.go
  backend/internal/controller/restapi/v1/helper/render.go
  backend/internal/controller/restapi/v1/hint.go
  backend/internal/controller/restapi/v1/notification.go
  backend/internal/controller/restapi/v1/page.go
  backend/internal/controller/restapi/v1/rating.go
  backend/internal/controller/restapi/v1/router.go
  backend/internal/controller/restapi/v1/scoreboard.go
  backend/internal/controller/restapi/v1/server.go
  backend/internal/controller/restapi/v1/settings.go
  backend/internal/controller/restapi/v1/statistics.go
  backend/internal/controller/restapi/v1/submission.go
  backend/internal/controller/restapi/v1/tag.go
  backend/internal/controller/restapi/v1/team.go
  backend/internal/controller/restapi/v1/user.go
  backend/internal/wire/providers.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

test: enhance error handling in cache and websocket tests
  backend/pkg/cache/cache_test.go
  backend/pkg/websocket/hub_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

chore: exclude gosec G101 from golangci-lint checks in configuration
  backend/.golangci.yml
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix: seaweedfs-ui за nginx (VITE_FILER_PROXY_PATH), CORS, healthcheck, .env
  .env.example
  .env.local.example
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  frontend/seaweedfs-ui/Dockerfile
  frontend/seaweedfs-ui/src/seaweedfs/filer.ts
  frontend/seaweedfs-ui/src/vite-env.d.ts
Due: build:backend, security:container

test: shared S3 setup in integration tests, unit tests for helper/handler/backup
  backend/e2e-test/bracket_test.go
  backend/e2e-test/helper/bracket_helper.go
  backend/e2e-test/helper/page_helper.go
  backend/e2e-test/notification_test.go
  backend/e2e-test/page_test.go
  backend/e2e-test/submission_test.go
  backend/integration-test/setup_test.go
  backend/integration-test/storage_s3_test.go
  backend/internal/controller/restapi/middleware/auth_test.go
  backend/internal/controller/restapi/middleware/metrics_test.go
  backend/internal/controller/restapi/middleware/require_team_test.go
  backend/internal/controller/restapi/middleware/require_verified_test.go
  backend/internal/controller/restapi/v1/handler_test.go
  backend/internal/controller/restapi/v1/helper/decode_test.go
  backend/internal/controller/restapi/v1/helper/error_test.go
  backend/internal/controller/restapi/v1/helper/helper_test.go
  backend/internal/controller/restapi/v1/helper/render_test.go
  backend/internal/entity/competition_test.go
  backend/internal/entity/error/http_test.go
  backend/internal/entity/verification_token_test.go
  backend/internal/repo/persistent/helper_test.go
  backend/internal/storage/s3_test.go
  backend/internal/usecase/competition/backup_test.go
  backend/internal/usecase/competition/guard_test.go
  backend/internal/usecase/team/team_test.go
  backend/pkg/cache/scoreboard_test.go
  backend/pkg/httputil/response_test.go
  backend/pkg/logger/logger_test.go
  backend/pkg/mailer/mailer_test.go
  backend/pkg/migrator/migrator_test.go
  backend/pkg/postgres/postgres_test.go
  backend/pkg/seed/seed_test.go
  backend/pkg/usecaseutil/wrap_test.go
  docs/DEPLOYMENT.md
  docs/MONITORING.md
  docs/STRUCTURE.md
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

chore: exclude G101 from gosec checks in CI pipeline
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

chore: enforce failure on CI stages by setting allow_failure to false
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

chore: update deployment process to ignore pull failures and build seaweedfs-ui
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

chore: refine deployment process to target specific services and restart monitoring components
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

docs: update README.md for user roles and API documentation
  README.md
Due: none

chore(deps): bump Go 1.25 -> 1.26
  .github/workflows/ci.yml
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

docs: restore docs
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/ENVIRONMENT.md
  docs/MONITORING.md
  docs/WORKFLOW.md
Due: none

fix(ci): repair gitlab deploy healthcheck, pad test jwt secrets, expand hadolint coverage
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

fix(deploy): skip Vault setcap in production docker-compose.yml
  deployment/docker/docker-compose.yml
Due: build:backend, security:container

fix(vault): disable mlock for containerized deployment
  deployment/vault/config/vault.hcl
Due: none

fix(setup): use explicit VAULT_ADDR for containerized vault checks
  setup.sh
Due: none

fix(setup): wait for Vault seal-status before initialization
  setup.sh
Due: none

fix(docker): install runtime packages as root in service images
  deployment/certbot/Dockerfile
  deployment/haproxy/Dockerfile
  frontend/seaweedfs-ui/Dockerfile
Due: none

fix(frontend): track generated API schema types, i forgot abt it
  .gitignore
  frontend/board/src/shared/api/schema.d.ts
Due: none

fix(deploy): relax service sandboxing and regenerate alertmanager config
  deployment/docker/docker-compose.yml
  setup.sh
Due: build:backend, security:container

fix(postgres): pin Postgres 18 and use the new data directory mount, i did this in local compose, but forgot to change in prod
  deployment/docker/docker-compose.e2e.yml
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  docs/en/ARCHITECTURE.md
  docs/ru/ARCHITECTURE.md
Due: build:backend, security:container
