Repository skr1ms/CTFBoard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

build:backend:
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
  stage: build
  image: $DOCKER_CLI_IMAGE
  script:
  - docker pull "$CI_REGISTRY_IMAGE/backend:latest" || true
  ...

build:cleanup:
  stage: build
  image: $GOLANG_IMAGE
  script:
  - cd backend
  - GOOS=linux GOARCH=amd64 go build -o bin/ctfboard-cleanup ./cmd/cleanup
  artifacts:
    paths:
    - backend/bin/ctfboard-cleanup
    expire_in: 1 hour

lint:backend:
  stage: security
  image: $GOLANGCI_LINT_IMAGE
  variables:
    CGO_ENABLED: '0'
  script:
  - cd backend
  - go mod download
  - golangci-lint run -v --timeout 10m

security:code:
  stage: security
  image:
    name: $GOSEC_IMAGE
    entrypoint:
    - ''
  script:
  - cd backend
  - go mod download
  - gosec ./...

security:container:
  stage: security
  image:
    name: $TRIVY_IMAGE
    entrypoint:
    - ''
  variables:
    TRIVY_USERNAME: $CI_REGISTRY_USER
    TRIVY_PASSWORD: $CI_REGISTRY_PASSWORD
    TRIVY_AUTH_URL: $CI_REGISTRY
  script:
  - trivy image --exit-code 0 --severity HIGH,CRITICAL "$CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHA"

test:backend:
  stage: test
  image: $GOLANG_IMAGE
  services:
  - name: $POSTGRES_IMAGE
    alias: postgres-test
    variables:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
  - name: $REDIS_IMAGE
    alias: redis-test
    variables:
      REDIS_PASSWORD: $REDIS_PASSWORD
  ...

deploy:cron:
  stage: deploy
  image: $ALPINE_IMAGE
  needs:
  - job: build:cleanup
    artifacts: true
  before_script:
  - apk add --no-cache openssh-client
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  ...

fix(redis): disable persistence to avoid /data permission failures
  deployment/docker/docker-compose.e2e.yml
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  setup.sh
Due: build:backend, security:container

fix(certbot): run issuance command correctly in compose entrypoint
  deployment/docker/docker-compose.yml
Due: build:backend, security:container

fix(haproxy): restore valid startup config and ACME challenge routing
  deployment/docker/docker-compose.yml
  deployment/haproxy/entrypoint.sh
  deployment/haproxy/haproxy.cfg
Due: build:backend, security:container

fix(ci): repair gitlab deploy healthcheck, pad test jwt secrets, expand hadolint coverage
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: build:cleanup, deploy:cron

fix(docker): install runtime packages as root in service images
  deployment/certbot/Dockerfile
  deployment/haproxy/Dockerfile
  frontend/seaweedfs-ui/Dockerfile
Due: none

fix(security): harden setup and visibility flows
  .env.example
  backend/config/config.go
  backend/config/config_test.go
  backend/internal/app/app.go
  backend/internal/controller/restapi/middleware/visibility_guard.go
  backend/internal/controller/restapi/middleware/visibility_guard_test.go
  backend/internal/controller/restapi/v1/helper/deps.go
  backend/internal/controller/restapi/v1/oauth.go
  backend/internal/controller/restapi/v1/router.go
  backend/internal/controller/restapi/v1/setup.go
  backend/internal/controller/restapi/v1/setup_test.go
  backend/internal/controller/restapi/v1/team.go
  backend/internal/controller/restapi/v1/team_visibility_test.go
  backend/internal/controller/restapi/v1/user.go
  backend/internal/usecase/challenge/challenge_submit.go
  backend/internal/usecase/competition/competition_params.go
  backend/internal/usecase/competition/competition_params_test.go
  backend/internal/usecase/competition/solve.go
  backend/internal/usecase/guard/eligibility.go
  backend/internal/usecase/guard/eligibility_test.go
  backend/internal/usecase/setup/request.go
  backend/internal/usecase/user/oauth.go
  backend/internal/wire/providers.go
  deployment/docker/docker-compose.e2e.yml
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  docs/en/DEPLOYMENT.md
  docs/en/ENVIRONMENT.md
  docs/ru/DEPLOYMENT.md
  docs/ru/ENVIRONMENT.md
  frontend/board/src/features/setup/schema.ts
  frontend/board/src/features/setup/types.ts
  frontend/board/src/features/setup/useCompleteSetup.ts
  frontend/board/src/pages/setup/steps/AdministrationStep.tsx
  setup.sh
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(ci): unblock dependency audit and codegen
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/scripts/requirements-codegen.txt
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix(tests): satisfy backend lint checks
  backend/config/config_test.go
  backend/e2e-test/setup_test.go
  backend/internal/controller/restapi/middleware/visibility_guard_test.go
  backend/internal/usecase/competition/competition_params_test.go
  backend/load-test/server_test.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

fix(ci): run workflow on branch pushes
  .github/workflows/ci.yml
Due: none

fix(tests): stabilize ban appeal pagination race
  backend/integration-test/ban_appeal_repo_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix(security): harden auth visibility flows
  backend/e2e-test/api_token_test.go
  backend/e2e-test/auth_test.go
  backend/e2e-test/challenge_test.go
  backend/e2e-test/field_test.go
  backend/e2e-test/helper/client.go
  backend/e2e-test/hidden_challenge_submit_test.go
  backend/e2e-test/profile_test.go
  backend/e2e-test/team_test.go
  backend/internal/controller/restapi/middleware/require_bearer_auth.go
  backend/internal/controller/restapi/middleware/require_verified.go
  backend/internal/controller/restapi/middleware/require_verified_test.go
  backend/internal/controller/restapi/middleware/visibility_guard.go
  backend/internal/controller/restapi/v1/request/user.go
  backend/internal/controller/restapi/v1/router.go
  backend/internal/controller/restapi/v1/setup.go
  backend/internal/controller/restapi/v1/setup_test.go
  backend/internal/openapi/routes/api_token.yml
  backend/internal/openapi/routes/challenge.yml
  backend/internal/openapi/routes/team.yml
  backend/internal/openapi/routes/user.yml
  backend/internal/usecase/challenge/challenge.go
  backend/internal/usecase/user/user.go
  docs/en/WORKFLOW.md
  docs/ru/WORKFLOW.md
  frontend/board/e2e/specs/visibility.spec.ts
  frontend/board/src/shared/api/schema.d.ts
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

refactor(backend): align setup transport style
  backend/e2e-test/auth_test.go
  backend/e2e-test/challenge_test.go
  backend/e2e-test/hidden_challenge_submit_test.go
  backend/e2e-test/settings_enforcement_test.go
  backend/internal/controller/restapi/middleware/require_verified.go
  backend/internal/controller/restapi/middleware/setup_required.go
  backend/internal/controller/restapi/v1/oauth.go
  backend/internal/controller/restapi/v1/request/setup.go
  backend/internal/controller/restapi/v1/response/user.go
  backend/internal/controller/restapi/v1/setup.go
  backend/internal/controller/restapi/v1/setup_test.go
  backend/internal/controller/restapi/v1/storage.go
  backend/internal/openapi/client.gen.go
  backend/internal/openapi/components/schemas/setup_schemas.yml
  backend/internal/openapi/openapi.yml
  backend/internal/openapi/routes/setup.yml
  backend/internal/openapi/server.gen.go
  backend/internal/openapi/spec.gen.go
  backend/internal/openapi/types.gen.go
  backend/internal/usecase/challenge/challenge.go
  backend/internal/usecase/setup/request.go
  backend/internal/usecase/setup/setup.go
  backend/internal/wire/providers.go
  backend/scripts/merge-schemas.py
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

chore(tooling): update backend generation gates
  .gitignore
  CONTRIBUTING.md
  backend/.golangci.yml
  backend/Makefile
  backend/codegen/.mockery_avatar.yml
  backend/codegen/.mockery_backup.yml
  backend/codegen/.mockery_challenge.yml
  backend/codegen/.mockery_email.yml
  backend/codegen/.mockery_notification.yml
  backend/codegen/.mockery_page.yml
  backend/codegen/.mockery_settings.yml
  backend/codegen/.mockery_user.yml
  backend/go.mod
  backend/go.sum
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor(config): split runtime configuration loading
  backend/cmd/app/main.go
  backend/cmd/cleanup/main.go
  backend/config/build.go
  backend/config/config.go
  backend/config/load_env.go
  backend/config/load_vault.go
  backend/config/validate.go
  backend/internal/app/app.go
  backend/internal/domain/config_registry.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

refactor(wire): split dependency providers
  backend/internal/wire/app.go
  backend/internal/wire/providers.go
  backend/internal/wire/providers_cache.go
  backend/internal/wire/providers_http.go
  backend/internal/wire/providers_oauth.go
  backend/internal/wire/providers_repo.go
  backend/internal/wire/providers_runtime.go
  backend/internal/wire/providers_storage.go
  backend/internal/wire/providers_usecase_challenge.go
  backend/internal/wire/providers_usecase_competition.go
  backend/internal/wire/providers_usecase_content.go
  backend/internal/wire/providers_usecase_media.go
  backend/internal/wire/providers_usecase_team.go
  backend/internal/wire/providers_usecase_user.go
  backend/internal/wire/sets.go
  backend/internal/wire/wire.go
  backend/internal/wire/wire_gen.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

docs: refresh backend architecture notes
  docs/en/ARCHITECTURE.md
  docs/en/MONITORING.md
  docs/en/WORKFLOW.md
  docs/ru/ARCHITECTURE.md
  docs/ru/MONITORING.md
  docs/ru/WORKFLOW.md
Due: none

refactor(backend): split large backend modules
  backend/internal/repo/persistent/team_audit.go
  backend/internal/repo/persistent/team_avatar.go
  backend/internal/repo/persistent/team_mutation.go
  backend/internal/repo/persistent/team_postgres.go
  backend/internal/repo/persistent/team_read.go
  backend/internal/repo/persistent/team_search.go
  backend/internal/repo/persistent/user_admin_mutation.go
  backend/internal/repo/persistent/user_avatar.go
  backend/internal/repo/persistent/user_create.go
  backend/internal/repo/persistent/user_postgres.go
  backend/internal/repo/persistent/user_read.go
  backend/internal/repo/persistent/user_search.go
  backend/internal/repo/persistent/user_team.go
  backend/internal/repo/persistent/user_verification.go
  backend/internal/usecase/backup/backup_import.go
  backend/internal/usecase/backup/backup_import_archive.go
  backend/internal/usecase/backup/backup_import_files.go
  backend/internal/usecase/backup/backup_import_tx.go
  backend/internal/usecase/challenge/hint.go
  backend/internal/usecase/challenge/hint_admin.go
  backend/internal/usecase/challenge/hint_list.go
  backend/internal/usecase/challenge/hint_unlock.go
  backend/internal/usecase/competition/submission.go
  backend/internal/usecase/competition/submission_admin_create.go
  backend/internal/usecase/competition/submission_admin_mutation.go
  backend/internal/usecase/competition/submission_log.go
  backend/internal/usecase/competition/submission_read.go
  backend/internal/usecase/email/email.go
  backend/internal/usecase/email/email_password_reset.go
  backend/internal/usecase/email/email_resend.go
  backend/internal/usecase/email/email_tokens.go
  backend/internal/usecase/email/email_verification.go
  backend/internal/wire/providers_app.go
  backend/internal/wire/providers_http.go
  backend/internal/wire/providers_http_deps.go
  backend/internal/wire/providers_http_helpers.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

refactor(usecase): bound post-commit contexts
  backend/internal/usecase/competition/competition.go
  backend/internal/usecase/ctxutil/post_commit.go
  backend/internal/usecase/ctxutil/post_commit_test.go
  backend/internal/usecase/email/email_password_reset.go
  backend/internal/usecase/team/team_ban.go
  backend/internal/usecase/team/team_unban.go
  backend/internal/usecase/user/user_admin.go
  backend/internal/usecase/user/user_ban.go
  backend/internal/usecase/user/user_profile.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

docs: consolidate project documentation
  CONTRIBUTING.md
  README.md
  README.ru.md
  backend/TESTING.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/en/ARCHITECTURE.md
  docs/en/DEPLOYMENT.md
  docs/en/ENVIRONMENT.md
  docs/en/MONITORING.md
  docs/en/WORKFLOW.md
  docs/ru/ARCHITECTURE.md
  docs/ru/DEPLOYMENT.md
  docs/ru/ENVIRONMENT.md
  docs/ru/MONITORING.md
  docs/ru/WORKFLOW.md
Due: build:backend, lint:backend, security:code, security:container, test:backend

refactor(restapi): tighten api boundary coverage
  backend/go.mod
  backend/go.sum
  backend/internal/controller/restapi/errmap/errmap_test.go
  backend/internal/controller/restapi/v1/bracket.go
  backend/internal/controller/restapi/v1/challenge.go
  backend/internal/controller/restapi/v1/challenge_admin.go
  backend/internal/controller/restapi/v1/challenge_solution.go
  backend/internal/controller/restapi/v1/file.go
  backend/internal/controller/restapi/v1/helper/deps.go
  backend/internal/controller/restapi/v1/helper/helper_test.go
  backend/internal/controller/restapi/v1/helper/risk_test.go
  backend/internal/controller/restapi/v1/import_boundary_test.go
  backend/internal/controller/restapi/v1/request/challenge_test.go
  backend/internal/controller/restapi/v1/request/competition_params_test.go
  backend/internal/controller/restapi/v1/request/risk_test.go
  backend/internal/controller/restapi/v1/response/competition.go
  backend/internal/controller/restapi/v1/response/competition_team_response_test.go
  backend/internal/controller/restapi/v1/response/response_bench_test.go
  backend/internal/controller/restapi/v1/response/risk_test.go
  backend/internal/controller/restapi/v1/response/team.go
  backend/internal/controller/restapi/v1/router_protected.go
  backend/internal/controller/restapi/v1/setup_test.go
  backend/internal/controller/restapi/v1/team.go
  backend/internal/controller/restapi/v1/team_admin.go
  backend/internal/controller/restapi/v1/team_self_members.go
  backend/internal/controller/restapi/v1/team_self_membership.go
  backend/internal/controller/restapi/v1/team_self_views.go
  backend/internal/controller/restapi/v1/user_admin.go
  backend/internal/openapi/README.md
  backend/internal/openapi/components/schemas/challenge_schemas.yml
  backend/internal/openapi/routes/challenge.yml
  backend/internal/openapi/routes/scoreboard.yml
  backend/internal/usecase/contract_challenge.go
  backend/internal/usecase/contract_team.go
  backend/internal/wire/providers_http_deps.go
  backend/internal/wire/providers_usecase_media.go
  backend/internal/wire/sets.go
  backend/pkg/sse/sse_test.go
Due: build:backend, build:cleanup, lint:backend, security:code, security:container, test:backend, deploy:cron

test(load): split concurrency scenarios
  backend/load-test/mixed_test.go
  backend/load-test/race_fixture_test.go
  backend/load-test/race_flag_test.go
  backend/load-test/race_hint_test.go
  backend/load-test/race_registration_test.go
  backend/load-test/race_team_test.go
  backend/load-test/race_test.go
  backend/load-test/seed_test.go
  backend/load-test/server_deps_test.go
  backend/load-test/server_router_test.go
  backend/load-test/server_test.go
  backend/load-test/server_usecases_test.go
  backend/load-test/setup_test.go
  backend/load-test/spike_test.go
  backend/load-test/stress_hint_test.go
  backend/load-test/stress_registration_test.go
  backend/load-test/stress_statistics_test.go
  backend/load-test/stress_test.go
  backend/load-test/websocket_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

fix(e2e): align competition state journey with teams mode
  backend/e2e-test/journey_competition_test.go
Due: build:backend, lint:backend, security:code, security:container, test:backend

docs(backend): document parity roadmap
  PRD/analyze.md
  PRD/backend-todo.md
  docs/ARCHITECTURE.md
  docs/BACKUP_ARCHIVE.md
Due: none

chore(prd): stop tracking local analysis docs
  PRD/analyze.md
  PRD/backend-todo.md
Due: none

chore(deploy): harden runtime setup defaults
  .env.example
  .env.local
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/config/config_test.go
  backend/config/helper.go
  backend/config/helper_test.go
  backend/config/load_env.go
  backend/config/load_vault.go
  backend/config/validate.go
  backend/config/validate_test.go
  backend/pkg/testutil/containers.go
  backend/pkg/vault/vault.go
  backend/pkg/vault/vault_test.go
  deployment/certbot/Dockerfile
  deployment/docker/docker-compose.e2e.yml
  deployment/docker/docker-compose.local.yml
  deployment/docker/docker-compose.yml
  deployment/docker/loki.Dockerfile
  deployment/haproxy/Dockerfile
  deployment/haproxy/entrypoint.sh
  deployment/haproxy/haproxy.cfg
  deployment/scripts/check-production-hygiene.sh
  deployment/seaweedfs/s3.json
  setup.sh
Due: build:backend, lint:backend, security:code, security:container, test:backend

Path conditions:
  build:backend: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  build:cleanup: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
  lint:backend: any of: backend/**/*, go.mod, go.sum
  security:code: any of: backend/**/*, go.mod, go.sum
  security:container: any of: backend/**/*, go.mod, go.sum, deployment/docker/**/*
  test:backend: any of: backend/**/*, go.mod, go.sum
  deploy:cron: any of: backend/cmd/cleanup/**/*, backend/internal/**/*, deployment/cron-jobs/**/*, .gitlab-ci.yml
